﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgeCalculator</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/StyleSheet.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    @* ----------Datepicker-------- *@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @* ---------------------------- *@

    <link rel="shortcut icon" href="">
</head>
<body>
    <h1>Age Calculator</h1>
    @RenderBody()
    
    @RenderSection("Scripts", required: false)
</body>
</html>
