﻿body {
    min-height: 100%;
    padding: 2em;
    padding-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    font-size: 1.15em;
}

#dateOfBirth {
    font-size: 1.15em;
    margin: 0.5em 0.5em 0em 0.5em;
}

.info{
    font-size: 0.9em;
    margin-left: 0.5em;
}

.buttons {
    margin-top: 0.75em;
    text-align: end;
}

button a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

.buttons input{
    font-size: 1em;
}

#dateError{
    color: red;
}

.ageResult {
    padding-left: 1em;
    font-size: 1.5em;
}

#result {
    margin: 1em;
    padding: 0.75em;
    border: 0.25em solid darkgrey;
    border-radius: 1em;
}

.or{
    font-size: 0.8em;
}

#invalidData{
    padding-top: 1em;
    font-size: 1.15em;
    color: red;
}