﻿<form asp-action="Calculator" method="get" id="calculatorForm">
    <div>
        <label>Insert date of birth:</label>
    </div>
    <input id="dateOfBirth" placeholder="Date" autocomplete="off" />
    <div class="info">
        <span>Format dd/mm/yyyy </span>
        <span id="dateError">(Invalid data)</span>
    </div>
    <div class="buttons">
        <input id="submit" type="submit" value="Calculate age" />
        <button><a asp-controller="Home" asp-action="Index">Reset</a></button>
    </div>
</form>

<div id="age">
    <div id="result">
        <label> You are: </label>
        <div class="ageResult">
            <div>
                <span id="months"> </span>
                <span> month old</span>
            </div>
            <label class="or">or</label>
            <div>
                <span id="days"> </span>
                <span> days old</span>
            </div>
            <label class="or">or</label>
            <div>
                <span id="hours"> </span>
                <span> hours old</span>
            </div>
            <label class="or">or</label>
            <div>
                <span id="minutes"> </span>
                <span> minutes old</span>
            </div>
            <label class="or">or</label>
            <div>
                <span id="seconds"> </span>
                <span> seconds old</span>
            </div>
        </div>
    </div>

    <div id="invalidData">
        Date must be valid and earlier than today
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/AgeScript.js"></script>
}